# The file containing environment variables 
.env

# IDE specific files
.vscode/

# Data files
*.csv

# Images
*.jpg
*.png

# Others
requirements.txt
prove.*
.idea/workspace.xml
*.xml
.idea/tln-radicioni.iml
